{% extends 'base/base.html' %}


{% block title %}
    all products
{% endblock %}

{% block content %}
    <div id="all_products">
        {% for product in products %}
{#            class name#}
            <a href="{% url 'accounts:edit' product.4 %}" id="edit_{{product.3 }}">edit</a>

            <div class="{{ product.3 }}">
{#            name#}
                <h4>{{ product.0 }}</h4>
                <div>
{#                    price#}
                    {{ product.1 }}
                </div>
                <div>
{#                    quentity#}
                    {{ product.2 }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}