{% extends 'base/base.html' %}


{% block title %}
    all products
{% endblock %}

{% block content %}
    <div id="all_products">
        {% for product in products %}
            {#            class name#}
            <div class="{{ product.3 }}">
                <a href="{% url 'accounts:edit' product.4 %}" id="edit_{{ product.3 }}">edit</a>
                <a href="{% url 'accounts:delete_product' product.4 %}" id="delete_{{ product.3 }}">delete</a>
                {#            name#}
                <h4>{{ product.0 }}</h4>
                <div>
                    {#                    price#}
                    {{ product.1 }}
                </div>
                <div>
                    {#                    quentity#}
                    {{ product.2 }}
                </div>
                {#            tags#}
                <div>
                    {% for tag in product.5 %}
                        <h4>
                            {{ tag.name }}
                        </h4>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}