{% extends 'base/base.html' %}


{% block title %}
    all products
{% endblock %}

{% block content %}
    <div id="all_products">
        {% for product in products %}
            {#            class name#}
            <div class="{{ product.3 }}">
                <a href="{% url 'accounts:edit' product.4 %}" id="edit_{{ product.3 }}">edit</a>
                <a href="{% url 'accounts:delete_product' product.4 %}" id="delete_{{ product.3 }}">delete</a>
                {#            name#}
                <h4>{{ product.0 }}</h4>
                <div>
                    {#                    price#}
                    {{ product.1 }}
                </div>
                <div>
                    {#                    quentity#}
                    {{ product.2 }}
                </div>
                {#            tags#}
                <div>
                    {% for tag in product.5 %}
                        <h4>
                            {{ tag.name }}
                        </h4>
                    {% endfor %}
                </div>

{#            image#}
                <img src="{{ product.6 }}" alt="image" id="profile_image_{{ product.3 }}">

              <form method="post" id="rate_{{ product.3 }}" action="{% url 'accounts:rate' product.4 2 %}">
                    {% csrf_token %}
                    <input type="number" name="rate" min="0" max="5">
                    <input type="submit" name="submit">
                </form>

                <div id="product_rate">
                    {{ product.7 }}
                </div>


            </div>
        {% endfor %}
    </div>
{% endblock %}