{% extends 'base/base.html' %}

{% block title %}
    shopping cart
{% endblock %}

{% block content %}

    {% for item in items %}
        <div class="{{ identifier.forloop.counter }}">
            <div>
                {#                name#}
                {{ item.product.name }}
            </div>
            <div>
                {#            price#}
                {{ item.product.price }}
            </div>
            <div>
                {#            requested quantity#}
                {{ item.buy_quantity }}
            </div>

            <form action="{% url 'accounts:cart_delete' item.pk %}" method="post" id="{{ identifier.forloop.counter }}">
                {% csrf_token %}
                <input type="submit" name="submit">
            </form>
        </div>
    {% endfor %}

    <div id="total_price">
        {{ total_price }}
    </div>

    <form action="" method="post" id="pay_cart">


    </form>
{% endblock %}