{% extends 'base/base.html' %}

{% block title %}
    shopping cart
{% endblock %}

{% block content %}

    {% for item in items %}
        <div class="{{ item.3 }}">

            <div>
                {#                name#}
                {{ item.0 }}
            </div>
            <div>
                {#            price#}
                {{ item.1 }}
            </div>
            <div>
                {#            requested quantity#}
                {{ item.2 }}
            </div>

            <form action="{% url 'accounts:cart_delete' item.0.pk %}" method="post" id="{{ item.3 }}">
                {% csrf_token %}
                <input type="submit" name="submit">
            </form>
        </div>
    {% endfor %}

    <div id="total_price">
        {{ total_price }}
    </div>

    <form action="" method="post" id="pay_cart">


    </form>
{% endblock %}