{% extends 'base/base.html' %}


{% block title %}
    all products
{% endblock %}

{% block content %}

    <form method="post" id="search_products">
        {% csrf_token %}
        <input type="text" name="title">
        <input type="number" name="min_price">
        <input type="number" name="max_price">
        <input type="text" name="tag">
        <button type="submit" name="submit">submit</button>
    </form>


    <div id="all_products">
        {% for product in products %}
            {#            class name#}

            <div class="{{ product.3 }}">
                <a href="{% url 'accounts:edit' product.4 %}" id="edit_{{ product.3 }}">edit</a>
                <a href="{% url 'accounts:product_page' product.4 %}" id="{{ product.3 }}">go to product</a>
                <a href="{% url 'accounts:delete_product' product.4 %}" id="delete_{{ product.3 }}">delete</a>
                {#            name#}
                <h4>{{ product.0 }}</h4>
                <div>
                    {#                    price#}
                    {{ product.1 }}
                </div>
                <div>
                    {#                    quentity#}
                    {{ product.2 }}
                </div>
                {#                first_name#}
                <div>

                </div>
                {{ product.5 }}
                {#                last name#}
                <div>
                    {{ product.6 }}

                </div>
                <div>
                    {% for tag in product.7 %}
                        <h4>
                            {{ tag.name }}
                        </h4>
                    {% endfor %}
                </div>

            {#            image#}
                <img src="{{ product.8 }}" alt="image" id="profile_image_{{ product.3 }}">

            </div>
        {% endfor %}
    </div>
{% endblock %}