{% extends 'base/base.html' %}


{% block title %}
    all products
{% endblock %}

{% block content %}

    <form method="post" id="search_products">
        {% csrf_token %}
        <input type="text" name="title">
        <input type="number" name="min_price">
        <input type="number" name="max_price">
        <button type="submit" name="submit">submit</button>
    </form>


    <div id="all_products">
        {% for product in products %}
            {#            class name#}
            <a href="{% url 'accounts:edit' product.4 %}" id="edit_{{ product.3 }}">edit</a>
            <a href="{% url 'accounts:delete_product' product.4 %}" id="delete_{{ product.3 }}">delete</a>

            <div class="{{ product.3 }}">
                {#            name#}
                <h4>{{ product.0 }}</h4>
                <div>
                    {#                    price#}
                    {{ product.1 }}
                </div>
                <div>
                    {#                    quentity#}
                    {{ product.2 }}
                </div>
                {#                first_name#}
                <div>

                </div>
                {{ product.5 }}
                {#                last name#}
                <div>
                    {{ product.6 }}

                </div>
                {% for tag in product.7 %}
                    <div>
                        {{ tag.name }}
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
    </div>
{% endblock %}