{% extends 'base/base.html' %}

{% block title %}
    panel
{% endblock %}


{% block content %}
    {% if is_seller %}
        <div>
            <a id="make_new_product" href="{% url 'accounts:create_item' %}">create item</a>
        </div>

        <div>
            <a href="{% url 'accounts:all_products' %}" id="my_products">go to your products </a>
        </div>
    {% endif %}

    <div>
        <form id="become_seller" method="post">
            {% csrf_token %}
            <input type="submit"> become seller </input>
        </form>


        {% if has_msg %}
            {% if become_seller %}
                <div id="done">
                    <p>با موفقیت فروشنده شدید</p>
                </div>
            {% else %}
                <div id="error">
                    <p>شما فروشنده هستید</p>
                </div>
            {% endif %}
        {% endif %}


    </div>

{% endblock %}