<header>
    <div id="navbar">


        <nav class="nav">
            <ul class="list nav__list">
                <li class="nav__item"><a href="{% url 'home' %}" id=”homepage”>home page</a></li>
                <li class="nav__item"><a href="{% url 'accounts:signup' %}" id=”register”>Register</a></li>

                {% if user.is_authenticated %}
                    <li class="nav__item"><a href="{% url 'accounts:logout' %}" id=”logout”>Logout</a></li>
                {% else %}
                    <li class="nav__item"><a href="{% url 'accounts:login' %}" id=”login”>Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>